{% extends "base.html" %}

{% block content %}
<div>
    <div>
        <table class="table table table-bordered">
            {% for row in range(size) %}
                <tr id="tr_{{ row }}">
                    {% for col in range(size) %}
                        <td id="td_{{ row }}_{{ col }}" role="button"
                            onclick="make_move({{ row }}, {{ col }})">&nbsp;</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <p></p>
    <div>
        <button type="button" class="btn btn-dark centered" id="pass-btn" onclick="pass()">
            Пропустить ход
        </button>
    </div>
</div>

<script src="/static/js/game_board.js"></script>
{% endblock %}
